<!DOCTYPE html>
<html>
  <head>
    <title>MyRepoStatsPython</title>
  </head>
  <body>
    <header>
      <h1>MyRepoStatsPython</h1>
    </header>
    <br />
    <h2>When are commits typically made during the day?</h2>
    <br />
    <h3>Morning: {{ part_of_day.morning }}%</h3>
    <br />
    <h3>Afternoon: {{ part_of_day.afternoon }}%</h3>
    <br />
    <h3>Evening: {{ part_of_day.evening }}%</h3>
    <br />
    <h3>Night: {{ part_of_day.night }}%</h3>
  </body>
  <br />
  <footer>
    <p>
      Source:
      <a href="https://github.com/freddyhm/my-repo-stats-python"
        >https://github.com/freddyhm/my-repo-stats-python</a
      >
    </p>
  </footer>
</html>
